* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #73c2fb;
}

header {
  flex-shrink: 0;
}

header #time-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

#question {
  margin-bottom: 30px;
  text-align: center;
  font-size: 40px;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

#choices li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
}
.choice:hover {
    background-color: #91DEFF;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 4px 8px 4px #000033;
    border-radius: 25px;
}

#result-container {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  bottom: 125px;
}

footer #start {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
}

footer #start:hover {
    background-color: #91DEFF;
    color: #000000;
    font-weight: bold;
    box-shadow: 0 4px 8px 4px #000033;
    border-radius: 25px;
}
