/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* BODY LAYOUT */

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #73c2fb;
}

header {
  flex-shrink: 0;
}

/* TIMER */

header #time-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 25px 15px;
  font-size: 12px;
}

/* MAIN SECTION FLEX LAYOUT */

main {
  flex-grow: 1;
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

/* QUESTIONS & ANSWERS */

#question {
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

#choices li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  font-weight: bold;
}

.choice:hover {
  background-color: #91deff;
  color: #000000;
  font-weight: bold;
  box-shadow: 0 4px 8px 4px #000033;
  border-radius: 25px;
}

/* RESULTS */

#initials,
#submit {
  display: none;
}

#initials {
  margin-bottom: 25px;
  font-size: 22px;
}

#submit {
  padding: 10px 20px;
}

.show {
  display: block;
}

#result {
  text-align: center;
  font-size: 25px;
  margin-top: 50px;
}

/* MESSAGE SECTION */

#message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#message-container h1,
#message-container p {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

#message-container h1 {
  font-size: 30px;
  text-shadow: 2px 2px 4px #ffffff;
}

/* START BUTTON */

#start {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 25px;
  font-weight: bold;
}

#start:hover {
  background-color: #91deff;
  color: #000000;
  font-weight: bolder;
  box-shadow: 0 4px 8px 4px #000033;
  border-radius: 25px;
}
